<%= simple_form_for(@tour_package_reservation) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.association :user %>
    <%= f.association :tour_package %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
