<%= simple_form_for(@flight) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
  <%= f.input :origin_country, label: "Origin Country", collection: CountryStateSelect.countries_collection %>
  <%= f.input :origin_state, CountryStateSelect.state_options(label: "Origin State ", form: f, field_names: {  :country => :origin_country, :origin_state => :flight_origin_state } ) %>
  <%= f.input :origin_city, CountryStateSelect.city_options(label: "Origin City ", form: f, field_names: {  :state => :origin_state, :origin_city => :flight_origin_city } ) %>

  
  <%= f.input :destination_country, label: "Destination Country", collection: CountryStateSelect.countries_collection %>  
  <%= f.input :destination_state, CountryStateSelect.state_options(label: "Destination State ", form: f, field_names: {  :country => :destination_country, :destination_state => :flight_destination_state } ) %> 
  <%= f.input :destination_city, CountryStateSelect.city_options(label: "Destination City ", form: f, field_names: {  :state => :destination_state, :destination_city => :flight_destination_city } ) %>
    
 
    
    <%= f.input :departure %>
    <%= f.input :returning %>
    <%= f.input :adults %>
    <%= f.input :minor %>
    <%= f.input :price %>
    <%= f.association :airline %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
