<%- model_class = Flight -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h1>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:id) %></th>
      <th><%= model_class.human_attribute_name(:origin_country) %></th>
      <th><%= model_class.human_attribute_name(:origin_state) %></th>
      <th><%= model_class.human_attribute_name(:origin_city) %></th>
      <th><%= model_class.human_attribute_name(:destination_country) %></th>
      <th><%= model_class.human_attribute_name(:destination_state) %></th>
      <th><%= model_class.human_attribute_name(:destination_city) %></th>
      <th><%= model_class.human_attribute_name(:departure) %></th>
      <th><%= model_class.human_attribute_name(:returning) %></th>
      <th><%= model_class.human_attribute_name(:adult_price) %></th>
      <th><%= model_class.human_attribute_name(:minor_price) %></th>
      <th><%= model_class.human_attribute_name(:capacity) %></th>
      <th><%= model_class.human_attribute_name(:airline_id) %></th>
      <!--<th><%= model_class.human_attribute_name(:created_at) %></th>-->
      <!--<th><%=t '.actions', :default => t("helpers.actions") %></th>-->
    </tr>
  </thead>
  <tbody>
    <% @flights.each do |flight| %>
      <tr>
        <td><%= link_to flight.id, flight_path(flight) %></td>
        <td><%= flight.origin_country %></td>
        <td><%= flight.origin_state %></td>
        <td><%= flight.origin_city %></td>
        <td><%= flight.destination_country %></td>
        <td><%= flight.destination_state %></td>
        <td><%= flight.destination_city %></td>
        <td><%= flight.departure %></td>
        <td><%= flight.returning %></td>
        <td><%= flight.adult_price %></td>
        <td><%= flight.minor_price %></td>
        <td><%= flight.capacity %></td>
        <td><%= flight.airline.name %></td>
        <!--<td><%=l flight.created_at %></td>-->
        <td>
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_flight_path(flight), :class => 'btn btn-default btn-xs' %>
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      flight_path(flight),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'btn btn-xs btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_flight_path,
            :class => 'btn btn-primary' %>
