<%- model_class = Flight -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.titleize %></h1>
</div>

<dl class="dl-horizontal">
   <dt><strong><%= model_class.human_attribute_name(:origin_country) %>:</strong></dt>
  <dd><%= @flight.origin_country %></dd>
  
  <dt><strong><%= model_class.human_attribute_name(:origin_state) %>:</strong></dt>
  <dd><%= @flight.origin_state %></dd>
  <dt><strong><%= model_class.human_attribute_name(:origin_city) %>:</strong></dt>
  <dd><%= @flight.origin_city %></dd>
  
  <dt><strong><%= model_class.human_attribute_name(:destination_country) %>:</strong></dt>
  <dd><%= @flight.destination_country %></dd>
  <dt><strong><%= model_class.human_attribute_name(:destination_state) %>:</strong></dt>
  <dd><%= @flight.destination_state %></dd>
  <dt><strong><%= model_class.human_attribute_name(:destination_city) %>:</strong></dt>
  <dd><%= @flight.destination_city %></dd>
  <dt><strong><%= model_class.human_attribute_name(:departure) %>:</strong></dt>
  <dd><%= @flight.departure %></dd>
  <dt><strong><%= model_class.human_attribute_name(:returning) %>:</strong></dt>
  <dd><%= @flight.returning %></dd>
  <dt><strong><%= model_class.human_attribute_name(:adult_price) %>:</strong></dt>
  <dd><%= @flight.adult_price %></dd>
  <dt><strong><%= model_class.human_attribute_name(:minor_price) %>:</strong></dt>
  <dd><%= @flight.minor_price %></dd>
  <dt><strong><%= model_class.human_attribute_name(:capacity) %>:</strong></dt>
  <dd><%= @flight.capacity %></dd>
  <dt><strong><%= model_class.human_attribute_name(:airline_id) %>:</strong></dt>
  <dd><%= @flight.airline.name %></dd>
</dl>

<%= link_to t('.back', :default => t("helpers.links.back")),
              flights_path, :class => 'btn btn-default'  %>
<%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_flight_path(@flight), :class => 'btn btn-default' %>
<%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              flight_path(@flight),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
              :class => 'btn btn-danger' %>
