<%- model_class = Flight -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.titleize %></h1>
</div>

<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:origen) %>:</strong></dt>
  <dd><%= @flight.origen %></dd>
  <dt><strong><%= model_class.human_attribute_name(:destino) %>:</strong></dt>
  <dd><%= @flight.destino %></dd>
  <dt><strong><%= model_class.human_attribute_name(:partida) %>:</strong></dt>
  <dd><%= @flight.partida %></dd>
  <dt><strong><%= model_class.human_attribute_name(:regreso) %>:</strong></dt>
  <dd><%= @flight.regreso %></dd>
  <dt><strong><%= model_class.human_attribute_name(:adultos) %>:</strong></dt>
  <dd><%= @flight.adultos %></dd>
  <dt><strong><%= model_class.human_attribute_name(:menores) %>:</strong></dt>
  <dd><%= @flight.menores %></dd>
  <dt><strong><%= model_class.human_attribute_name(:precio) %>:</strong></dt>
  <dd><%= @flight.precio %></dd>
</dl>

<%= link_to t('.back', :default => t("helpers.links.back")),
              flights_path, :class => 'btn btn-default'  %>
<%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_flight_path(@flight), :class => 'btn btn-default' %>
<%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              flight_path(@flight),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
              :class => 'btn btn-danger' %>
