<p id="notice"><%= notice %></p>

<p>
  <strong>Origin country:</strong>
  <%= @flight.origin_country %>
</p>

<p>
  <strong>Origin state:</strong>
  <%= @flight.origin_state %>
</p>

<p>
  <strong>Origin city:</strong>
  <%= @flight.origin_city %>
</p>

<p>
  <strong>Destination country:</strong>
  <%= @flight.destination_country %>
</p>

<p>
  <strong>Destination state:</strong>
  <%= @flight.destination_state %>
</p>

<p>
  <strong>Destination city:</strong>
  <%= @flight.destination_city %>
</p>

<p>
  <strong>Departure:</strong>
  <%= @flight.departure %>
</p>

<p>
  <strong>Returning:</strong>
  <%= @flight.returning %>
</p>

<p>
  <strong>Adults:</strong>
  <%= @flight.adults %>
</p>

<p>
  <strong>Minor:</strong>
  <%= @flight.minor %>
</p>

<p>
  <strong>Price:</strong>
  <%= @flight.price %>
</p>

<p>
  <strong>Airline:</strong>
  <%= @flight.airline.name %>
</p>

<%= link_to 'Edit', edit_flight_path(@flight) %> |
<%= link_to 'Back', flights_path %>
