<%= simple_form_for(@tour_package) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.association :flight, :label_method => lambda { |r| "#{r.origin_country}-#{r.origin_state}-#{r.origin_city} to #{r.destination_country}-#{r.destination_state}-#{r.destination_city} " } %>
    <%= f.association :hotel %>
    <%= f.association :restaurant %>
    <%= f.association :place %>
    <%= f.input :title %>
    <%= f.input :picture_url %>
    <%= f.input :description %>
    
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
