<%= simple_form_for(@tour_package) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.association :flight %>
    <%= f.association :hotel %>
    <%= f.association :restaurant %>
    <%= f.association :place %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
