<%- model_class = TourPackage -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h1>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:id) %></th>
      <th><%= model_class.human_attribute_name(:origin ) %></th>
      <th><%= model_class.human_attribute_name(:destination ) %></th>
      <th><%= model_class.human_attribute_name(:departure ) %></th>
      <th><%= model_class.human_attribute_name(:returning ) %></th>
      <th><%= model_class.human_attribute_name(:Hotel) %></th>
      <th><%= model_class.human_attribute_name(:Restaurant) %></th>
      <th><%= model_class.human_attribute_name(:Place) %></th>
      <th><%= model_class.human_attribute_name(:title) %></th>
      <th><%= model_class.human_attribute_name(:picture_url) %></th>
      <th><%= model_class.human_attribute_name(:desccription) %></th>
     
      <!--<th><%=t '.actions', :default => t("helpers.actions") %></th>-->
    </tr>
  </thead>
  <tbody>
    <% @tour_packages.each do |tour_package| %>
      <tr>
        <td><%= link_to tour_package.id, tour_package_path(tour_package) %></td>
        <td><%= tour_package.flight.origin_country %>-<%= tour_package.flight.origin_state %>-<%= tour_package.flight.origin_city %></td>
        <td><%= tour_package.flight.destination_country %>-<%= tour_package.flight.destination_state %>-<%= tour_package.flight.destination_city %></td>
       
        <td><%= tour_package.flight.departure %></td>
        <td><%= tour_package.flight.returning %></td>
        <td><%= tour_package.hotel.name %></td>
        <td><%= tour_package.restaurant.name %></td>
        <td><%= tour_package.place.name %></td>
         <td><%= tour_package.title %></td>
        <td><%= tour_package.picture_url %></td>
        <td><%= tour_package.description %></td>
       
    
        <td>
         
          <%= link_to t('.show', :default => t("helpers.links.show")),
                      tour_package, :class => 'btn btn-default btn-xs' %>
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_tour_package_path(tour_package), :class => 'btn btn-default btn-xs' %>
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      tour_package_path(tour_package),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'btn btn-xs btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_tour_package_path,
            :class => 'btn btn-primary' %>
