<p id="notice"><%= notice %></p>

<h1>Listing Tour Packages</h1>

<table>
  <thead>
    <tr>
      <th>Flight</th>
      <th>Hotel</th>
      <th>Restaurant</th>
      <th>Place</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @tour_packages.each do |tour_package| %>
      <tr>
        <td><%= tour_package.flight %></td>
        <td><%= tour_package.hotel %></td>
        <td><%= tour_package.restaurant %></td>
        <td><%= tour_package.place %></td>
        <td><%= link_to 'Show', tour_package %></td>
        <td><%= link_to 'Edit', edit_tour_package_path(tour_package) %></td>
        <td><%= link_to 'Destroy', tour_package, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Tour package', new_tour_package_path %>
