<p id="notice"><%= notice %></p>

<p>
  <strong>Flight:</strong>
  <%= @tour_package.flight %>
</p>

<p>
  <strong>Hotel:</strong>
  <%= @tour_package.hotel %>
</p>

<p>
  <strong>Restaurant:</strong>
  <%= @tour_package.restaurant %>
</p>

<p>
  <strong>Place:</strong>
  <%= @tour_package.place %>
</p>

<%= link_to 'Edit', edit_tour_package_path(@tour_package) %> |
<%= link_to 'Back', tour_packages_path %>
