

<body>


<p id="notice"><%= notice %></p>

<h1>Listing Restaurants</h1>

<table >
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Level</th>
      <th>Websiteurl</th>
      <th>Logourl</th>
      <th>Status</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody id="a">
    <% @restaurants.each do |restaurant| %>
      <tr>
        <td><%= restaurant.name %></td>
        <td><%= restaurant.description %></td>
        <td><%= restaurant.level %></td>
        <td><%= restaurant.websiteurl %></td>
        <td><%= restaurant.logourl %></td>
        <td><%= restaurant.status %></td>
        <td><%= link_to 'Mostrar', restaurant %> - </td>
        <td><%= link_to ' Editar', edit_restaurant_path(restaurant) %> - </td>
        <td><%= link_to ' Eliminar', restaurant, method: :delete, data: { confirm: '¿está seguro?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>


<br>

<%= link_to 'Nuevo Restaurant', new_restaurant_path %>
</body>