<%- model_class = ServiceRestaurant -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h1>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:id) %></th>
      <th><%= model_class.human_attribute_name(:name) %></th>
      <th><%= model_class.human_attribute_name(:description) %></th>
      <th><%= model_class.human_attribute_name(:price) %></th>
      <th><%= model_class.human_attribute_name(:restaurant) %></th>
      <!--<th><%=t '.actions', :default => t("helpers.actions") %></th>-->
    </tr>
  </thead>
  <tbody>
    <% @service_restaurants.each do |service_restaurant| %>
      <tr>
        <td><%= link_to service_restaurant.id, service_restaurant_path(service_restaurant) %></td>
        <td><%= service_restaurant.name %></td>
        <td><%= service_restaurant.description %></td>
        <td><%= service_restaurant.price %></td>
        <td><%= service_restaurant.restaurant.name %></td>
        <td>
          <%= link_to t('.show', :default => t("helpers.links.show")),
                      service_restaurant, :class => 'btn btn-default btn-xs' %>
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_service_restaurant_path(service_restaurant), :class => 'btn btn-default btn-xs' %>
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      service_restaurant_path(service_restaurant),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'btn btn-xs btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_service_restaurant_path,
            :class => 'btn btn-primary' %>