<p id="notice"><%= notice %></p>

<h1>Listing Service Restaurants</h1>

<table>
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Descripcion</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @service_restaurants.each do |service_restaurant| %>
      <tr>
        <td><%= service_restaurant.nombre %></td>
        <td><%= service_restaurant.descripcion %></td>
        <td><%= link_to 'Show', service_restaurant %></td>
        <td><%= link_to 'Edit', edit_service_restaurant_path(service_restaurant) %></td>
        <td><%= link_to 'Destroy', service_restaurant, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Service restaurant', new_service_restaurant_path %>
