<%= simple_form_for @hotel do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :name %>
    <%= f.input :description, as: :text %>
    <%= f.input :starts %>
    <%= f.input :address %>
    <%= f.input :location_coordinates %>
    <%= f.input :phone %>
    <%= f.input :raiting %>
    <%= f.input :country, label: "Country", collection: CountryStateSelect.countries_collection %>
    <%= f.input :state, CountryStateSelect.state_options(label: "State ", form: f, field_names: {  :country => :country, :state => :hotel_state } ) %>
    <%= f.input :city, CountryStateSelect.city_options(label: "City ", form: f, field_names: {  :state => :state, :city => :hotel_city } ) %>
    <%= f.input :pictureUrl %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>