<%- model_class = Hotel -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.titleize %></h1>
</div>

<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:name) %>:</strong></dt>
  <dd><%= @hotel.name %></dd>
  <dt><strong><%= model_class.human_attribute_name(:description) %>:</strong></dt>
  <dd><%= @hotel.description %></dd>
  <dt><strong><%= model_class.human_attribute_name(:starts) %>:</strong></dt>
  <dd><%= @hotel.starts %></dd>
  <dt><strong><%= model_class.human_attribute_name(:address) %>:</strong></dt>
  <dd><%= @hotel.address %></dd>
  <dt><strong><%= model_class.human_attribute_name(:location_coordinates) %>:</strong></dt>
  <dd><%= @hotel.location_coordinates %></dd>
  <dt><strong><%= model_class.human_attribute_name(:phone) %>:</strong></dt>
  <dd><%= @hotel.phone %></dd>
  <dt><strong><%= model_class.human_attribute_name(:raiting) %>:</strong></dt>
  <dd><%= @hotel.raiting %></dd>
  <dt><strong><%= model_class.human_attribute_name(:country) %>:</strong></dt>
  <dd><%= @hotel.country %></dd>
  <dt><strong><%= model_class.human_attribute_name(:state) %>:</strong></dt>
  <dd><%= @hotel.state %></dd>
  <dt><strong><%= model_class.human_attribute_name(:city) %>:</strong></dt>
  <dd><%= @hotel.city %></dd>
</dl>

<%= link_to t('.back', :default => t("helpers.links.back")),
              hotels_path, :class => 'btn btn-default'  %>
<%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_hotel_path(@hotel), :class => 'btn btn-default' %>
<%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              hotel_path(@hotel),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
              :class => 'btn btn-danger' %>
