<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @hotel.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @hotel.description %>
</p>

<p>
  <strong>Starts:</strong>
  <%= @hotel.starts %>
</p>

<p>
  <strong>Address:</strong>
  <%= @hotel.address %>
</p>

<p>
  <strong>City:</strong>
  <%= @hotel.city %>
</p>

<p>
  <strong>Location coordinates:</strong>
  <%= @hotel.location_coordinates %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @hotel.phone %>
</p>

<p>
  <strong>Raiting:</strong>
  <%= @hotel.raiting %>
</p>

<p>
  <strong>Country:</strong>
  <%= @hotel.country %>
</p>

<p>
  <strong>State:</strong>
  <%= @hotel.state %>
</p>

<p>
  <strong>City:</strong>
  <%= @hotel.city %>
</p>

<%= link_to 'Edit', edit_hotel_path(@hotel) %> |
<%= link_to 'Back', hotels_path %>
