<p id="notice"><%= notice %></p>

<p>
  <strong>Country:</strong>
  <%= @location.country %>
</p>

<p>
  <strong>Country state:</strong>
  <%= @location.country_state %>
</p>

<p>
  <strong>City district:</strong>
  <%= @location.city_district %>
</p>

<%= link_to 'Edit', edit_location_path(@location) %> |
<%= link_to 'Back', locations_path %>
