<li>
    <%= link_to "#" do %>
        <i class="fa fa-dashboard fa-fw"></i> Dashboard
    <% end %>
</li>
<li>
    <%= link_to pages_tour_package_path do %>
        <i class="fa fa-briefcase fa-fw"></i> Tour Package
    <% end %>
</li>
<li>
    <%= link_to "/flights" do %>
        <i class="fa fa-plane fa-fw"></i> Flight
    <% end %>
</li>
<li>
    <%= link_to "/hotels" do %>
        <i class="fa fa-home fa-fw"></i> Hotel
    <% end %>
</li>
<li>
    <%= link_to "/restaurants" do %>
        <i class="fa fa-cutlery fa-fw"></i> Restaurant
    <% end %>
</li>

