<li>
    <%= link_to "#" do %>
        <i class="fa fa-dashboard fa-fw"></i> Dashboard
    <% end %>
</li>
<li>
    <%= link_to "/tour_packages" do %>
        <i class="fa fa-briefcase fa-fw"></i> Tour Package
    <% end %>
    <ul class="nav nav-second-level">
        <li>
        <%= link_to "/tour_package_reservations" do %>
            <i class="fa fa-users"></i> Tour Package Reservation
        <% end %>
        </li> 
    </ul>
</li>

    

<li>
    <%= link_to "/airlines" do %>
        <i class="fa fa-home fa-fw"></i> Airlines
    <% end %>
    <ul class="nav nav-second-level">
        <li>
            <%= link_to "/flights" do %>
                <i class="fa fa-th fa-fw"></i> Flights
            <% end %>
        </li>
    </ul>
</li>

<li>
    <%= link_to "/hotels" do %>
        <i class="fa fa-home fa-fw"></i> Hotel
    <% end %>
    <ul class="nav nav-second-level">
        <li>
            <%= link_to "/rooms" do %>
                <i class="fa fa-th fa-fw"></i> Room
            <% end %>
        </li>
    </ul>
</li>

<li>
    <%= link_to "/restaurants" do %>
        <i class="fa fa-cutlery fa-fw"></i> Restaurant
    <% end %>
     <ul class="nav nav-second-level">
        <li>
            <%= link_to "/service_restaurants" do %>
                <i class="fa fa-coffee"></i> Service_restaurant
            <% end %>
        </li>
    </ul>
</li>
<li>
    <%= link_to " /places" do %>
        <i class="fa fa-university"></i> Place
    <% end %>
</li>
